.logo {
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  width: 200px;
  height: auto;
}

@media (max-width: 768px) {
  /* For now we can use this approach for mobile as its a small element.
    We can optimize with srcset if needed */
  .logo {
    width: 90px;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
  }
}
