.nav-links {
  list-style: none;
  margin: 0;
  padding: 0 17rem; /*this changed the spacing between links, was 0 1rem*/
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  margin: 1rem;
}

.nav-links a {
  border: 1px solid transparent;
  color: #292929;
  text-decoration: none;
  padding: 0.5rem;
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a.active {
  background: #f447d7;
  border-color: #292929;
  color: #292929;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-links li {
    margin: 0 0.5rem;
  }

  .nav-links a {
    color: rgb(20, 17, 17);
    text-decoration: none;
  }
}
