.address-container {
  display: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.address-link:hover {
  box-shadow: 0 1px 0 black;
  color: rgb(13, 13, 13);
  font-weight: bold;
  font-style: italic;
  transform: translateY(-1px);
}

.address-link {
  font-size: 20px;
  margin-top: 1px;
  margin-bottom: 3px;
  color: #d33eb5;
  text-decoration: none;
}

.mailing-address-text {
  color: rgb(38, 73, 233);
  font-size: 17px;
}
