.home-content {
  /* background-color: #9cb8f0; << background of the entire page*/
  background-color: rgb(84, 205, 216);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.spinner-image {
    height: 20vmin;
    width: auto; /* Maintain aspect ratio */
    pointer-events: none;
    border-radius: 50%;
    margin-top: 2rem; /* Add padding above the logo */
  }

  @media (prefers-reduced-motion: no-preference) {
    .spinner-image {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
