.App {
  /* text-align: center; */
  min-height: 100vh; /* Set minimum height for the app container */
  display: flex;
  flex-direction: column;
}
footer {
  flex-shrink: 0;  /* Prevent footer from shrinking */
}


.App-header {
  /* background-color: #9cb8f0; << background of the entire page*/
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


main {
  margin-top: 5rem;
  padding-bottom: 1rem;
}
